.dialog {
  color: aliceblue;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialog_items {
  padding: 10px;
}
.dialog_items a {
  display: inline;
  text-decoration: none;
  color: white;
  margin: 5px;
}
.items img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.items.active {
  color: rgb(189, 70, 15);
}
.messages {
  padding: 10px;
}
.messages .active {
  color: gold;
}
.message {
  display: flex;
  align-items: flex-start;
}
.message img {
  margin: 3px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.message .messageStyle p {
  color: rgb(66, 66, 66);
  font-size: 13px;
  margin: 5px;
  width: 160px;
  height: auto;
  background-color: #eeddff;
  border: 1px solid #7922cc;
  border-radius: 25px;
  margin: 3px;
  padding: 10px;
}
.messageStyle p {
  display: flex;
  justify-content: start;
  align-items: center;
}
.items {
  display: flex;
}
