.dialog {
  color: aliceblue;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialog_items {
  padding: 10px;
}
.dialog_items a {
  text-decoration: none;
  color: white;
}
.items {
}
.items.active {
  color: rgb(189, 70, 15);
}
.messages {
  padding: 10px;
}
.messages .active {
  color: gold;
}
.message {
}
